<!--The content below is only a placeholder and can be replaced.-->
<div id="a">
  <div>
  <h1>WATER CONSUMPTION SURVEY</h1>
 <h2>
  First name:
  <input type="text" name="fname" placeholder="First name">
  <br/>
  <br/>Email Id:
  <input type="email" name="email" placeholder="abc@gmail.com"></h2>
 <br/>
 <br/>
 <h4>1.what are the sources of water in your house?</h4>
 <input type="checkbox"  value="public water">Public water taps only<br>
 <input type="checkbox"  value="tube wells">Tubewell/borewells only<br>
 <input type="checkbox"  value="both">both<br>
 <input type="checkbox"  value="other">other<br>
 <h4>2.No. of persons in your house?</h4>
 <input type="checkbox"  value="one-4">1-4 <br>
 <input type="checkbox"  value="five-7">5-7<br>
 <input type="checkbox"  value="five-7">more than 7<br>
 <h4>3.How often you take baths?</h4>
 <input type="checkbox"  value="one">1 time a day<br>
 <input type="checkbox"  value="two">2 times a day<br>
<br/>
<br/>
 
<br/>
<button>Next</button>
</div>
</div>




<router-outlet></router-outlet>
