<div>
    <h2> Household</h2>
<h4>3.How often you take baths?</h4>
 <input type="checkbox"  value="one">1 time a day<br>
 <input type="checkbox"  value="two">2 times a day<br>

 <h4>4.Average amount of water you use for cleaning utensils?</h4>
 <input type="checkbox"  value="20">20 litres a day<br>
 <input type="checkbox"  value="morethan 20">more than 20 litres a day<br>

 <h4>5.Average amount of you use for washing clothes</h4>
 <input type="checkbox"  value="50">70 litres a day<br>
 <input type="checkbox"  value="120">120 litres a day<br>
 <input type="checkbox"  value="morethan 120">more than 120 litres<br>
 <input type="checkbox"  value="outside">use outside laundry service<br>
 <br/>
</div>
 
